body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
margin-top: 150px;
  width: 100vw;
}

.container-navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  max-height: 90px;
  flex-direction: column;
  background-color: #181932;
  align-self: center;
  justify-content: center;
  color: white;
  padding: 10px;
  margin-bottom: 55px;
  
}
.navbar {
  /* margin-left: -50px; */
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
ul {
  /* margin-left: -50px; */

  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.navbar-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 11px;
  margin: 0;
  /* text-decoration: none; */
  /* margin-left: -30px; */

}
.navbar-links ul {
  margin-right: 50px;
  font-size: 11px;
  /* margin-left: -30px; */
  /* margin-left: 50px; */

  width: 85px;
}
.navbar-links li {
  margin: 0 10px;
  /* margin-left: -30px; */

}
.searchbar-container {
  display: flex;
  /* margin-left: -150px; */

  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.navbar-links button {
  /* background-color: #007bff; */
  display: flex;
  /* margin-left: 50px; */

  align-items: center;
  justify-content: center;
  margin: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  width: 90px;
  height: 50px;
  text-align: center;
  text-decoration: none;

}
.house-chimney {
  /* margin-left: -50px; */

  text-decoration: none;
}
li {
  /* margin-left: -50px; */

  list-style: none;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85px;
 
}
.login-btn {
  /* margin-left: -50px; */

  font-size: 11px;
  width: 70px;
  height: 25px;
  /* margin-left: 115px; */
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}
.category-dropdown {
  margin-bottom: 50px;
  position: relative;
  /* margin-right: -170px; */

}

.dropdown {
  /* margin-left: -170px; */
  /* margin-right: -170px; */

  position: relative;
}
.dropdown-btn {
  /* margin-left: -190px; */
  /* margin-right: -170px; */

  background: none;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
  height: 40px;
}
.dropdown-btn:hover {


  background-color: #cd74a0;
  color: white;
}
.navbar-links button:not(.dropdown-btn):hover {
  /* margin-left: -50px; */
  /* margin-right: 170px; */
  background-color: #e3a92f;
}
.category-dropdown-btn {
  /* margin-left: -190px; */
  /* margin-right: -170px; */
  background: none;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.category-dropdown-btn:hover {
  /* margin-left: -170px; */
  /* margin-right: -170px; */
  background-color: #cd74a0;
}
.dropdown-content {
  display: none;
  top: 100%;
  /* margin-left: -190px; */
  /* margin-right: -170px; */
  left: 0;
  width: 100%;

  position: absolute;
  background-color: #f9f9f9;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar-links button:hover {
  background-color: #cd74a0;


}

.dropdown-content button {
  background: none;
  margin-left: -100px;
  /* margin-left: -0px; */
  border: none;
  background-color: #7f072f;
  color: white;
  padding: 12px 16px;
  text-align: left;
  cursor: pointer;
  width: 50%;
}
.dropdown button {
  background-color: #7f072f;
  margin-left: -200px;

}
.dropdown-content button:hover {
  background-color: #cd74a0 !important;
  width: 80%;
  color: white;
  /* margin-left: 170px; */
}
.contact-li button {
  background-color: #7f072f;
  /* margin-left: -200px; */

}
.dropdown:hover .dropdown-content {
  display: block;
  /* margin-left: -170px; */
}

.shopping-cart {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  /* background-color: white; */
  /* position: absolute; */
  /* left: 1000px; */
}
.badge {
  display: flex;
  font-size: 10px;
  top: -60px;
  /* color: white; */
  
  /* align-items: center; */
 flex-direction: column-reverse;
  justify-content: right;
  /* display: block; */
}
.fa-cart-shopping {
  /* background-color: white;  */
  color: #cd74a0;
  /* margin-left: 120px;  */
  /* margin-left: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-house-chimney {
  margin-left: -100px;
  color:#cd74a0;
  text-decoration: none;

}
i:hover {
  cursor: pointer;
  color: #e3a92f;
  /* color: #7f072f; */
}

@media (min-width: 768px) and (max-width: 1250px) {
}
.contact-btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-btn button{
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  height: 40px;
  width: 90px;
  font-size: 20px;
}
.login-btn {
  height: 50px;
 
}
.signup-button{
  height: 40px;
  width: 80px;
  font-size: 16px;
  background-color:#7f072f;
  color: white;
  border-radius: 5px;
}
.signup-button:hover {
  background-color:#cd74a0;

}
.admin-login {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -150px;
  gap:90px;
  margin-left: 60px;
  font-size: 20px;
  /* margin-right: -100px; */

  
}
.sign-div {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/* .login-div li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 80px;
} */
 .signup-li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90px;
  border-radius: 5px;
  background-color:#cd74a0;
  /* margin-left: 150px; */

  color: white;
  
}
.signup-li:hover {
  background-color:#7f072f;
  color :#e3a92f;
  text-decoration: none;

}
.span-login {
  margin-left: 150px;
  /* margin-right: -150px; */
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
}
.login-li {
  color: white;
  margin-left: -150px;
  background-color:#7f072f;
  width: 80px;
  height: 50px;
  border-radius: 5px;

   display: flex;

}
.login-li:hover{
  background-color:#cd74a0;
  color :#e3a92f;


}
.admin-login-li  {
  /* background-color: #7f072f;
  /* background-color: #e3a92f; 
  margin-left: 40px;
  height: 40px;
  border: none;
  color: white;
  font-size: 12px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90px;
  border-radius: 5px;
  background-color:#cd74a0;

}
.signout-btn button {
  margin-right: 40px;
  /* background-color:aqua; */
  font-size: 20px;
}
.signout-btn-li button {
  /* margin-right: 80px; */
  /* margin-left: -80px; */

  background-color: #cd74a0;
}
.signout-btn-li button {
  /* margin-left: -380px; */
  /* background-color:#7f072f; */
  /* background-color:#cd74a0; */
}
.auth-li {
  background-color:#e3a92f;
border-radius: 5px;
  width: 90px;
  height: 50px;
}
.auth-li:hover {
  background-color: #cd74a0;
 
}
button li {
  color: black;
  /* background-color: #7f072f; */
}
.searchbar-btn button {
  background-color: #7f072f;

}
.searchbar-container button {
  background-color: #7f072f;
  /* margin-left: -170px; */
  margin-right: 190px;
}
.dropdown-content {
  background-color: #7f072f;
  /* margin-left: -100px; */
}